/* Css */

/* Fonts */


/* Main Header font */
@font-face {
    font-family: 'Ben';
    src: url('assets/fonts/GROBOLD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body::before {
	--line: hsl(0 0% 95% / 0.25);
	--size: 50px;
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}

/* Custom property */
:root {

    /* Colors */
    
    /* Gradient  Colors*/
    --bg-gradient-onyx : linear-gradient( to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient( to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    --bg-gradient-green: linear-gradient( to bottom right, hsl(108, 100%, 71%) 0%, hsla(128, 100%, 69%, 0) 50%);
    --bg-gradient-green-2: linear-gradient(135deg, hsla(108, 100%, 71%, 0.251) 0%, hsla(128, 100%, 68%, 0) 59.86%), hsl(128, 100%, 13%);
    --border-gradient-onyx: linear-gradient( to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    --text-gradient-green: linear-gradient( to right, hsl(108, 100%, 72%), hsl(128, 100%, 68%));

    /* Solid Colors */
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --green-crayola: hsl(108, 100%, 72%);
    --vegas-green: hsl(108, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);

    /* Typography */

    /* Font-family */
    --font-ben: 'Ben', 'sans-serif';

    /* Font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    
    /* Font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    /* Shadow */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

    /* Transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;

}


/* Reset properties */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img, ion-icon, a, button, time, span{
    display: block;
}

button{
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input, textarea{
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection{
    background-color: var(--green-crayola);
    color: var(--smoky-black);
}

:focus{
    outline-color: var(--green-crayola);
}

html{
    font-family: var(--font-ben), sans-serif;
}

body{
    background: var(--smoky-black);
    color-scheme: dark only;
}


/* Reused style */
.sidebar,article{
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.separator{
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}

.h2,h3,h4,h5{
    color: var(--white-2);
    text-transform: capitalize;
}

.h2{
    font-size: var(--fs-1);
}

.h3{
    font-size: var(--fs-2);
}

.h4{
    font-size: var(--fs-3);
}

.h5{
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.icon-box{
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--green-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.icon-box::before{
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

.icon-box .ion-icon {
    --ionicon-stroke-width: 35px;
}

article{
    display: none;
}

article.active{
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.article-title{
    position: relative;
    padding-bottom: 7px;
}

.article-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-green);
    border-radius: 3px;
}


/* Main */
main{
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

/* Sidebar */

/* Main */

/* Navbar */

/* About */

/* Services */

/* Education */

/* Projects */

/* Skills */

/* Contact */


/* Responsive */

/* Responsive larger than 450px screen */

/* Responsive larger than 580px screen */

/* Responsive larger than 768px screen */

/* Responsive larger than 1024px screen */

/* Responsive larger than 1250px screen */