/* Css */

/* Fonts */


/* Main Header font */
@font-face {
    font-family: 'Ben';
    src: url('assets/fonts/GROBOLD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Ben', sans-serif;
}




